.loginButton {
  margin-left: 600px;
}
.registerLogin {
  margin-left: 700px;
}
.social-link {
  margin-left: 50px;
}
.flex-column {
  background-color: black;
}
.social-description {
  margin-left: 0px;
}
